/* Mobile */
.header-login
  float: right
  .link
    margin-top: -3px
  div
    float: left
  input
    border: 2px solid $borderGray
.login-form-block
  display: none
.landing-login-form-block
  padding-top: $mobileNavbarHeight+80px
  input
    margin-bottom: 15px
  input[type="text"],input[type="password"]
    width: 80%
    height: 30px
  .links
    li
      margin-top: 25px
      margin-bottom: 25px
  .submit-button
    width: 80%
    font-size: 20px
    padding: 5px
  .signup-button
    margin-top: 30px
  .form-title
    display: none !important

+respond-to(desktop)
  .navbar-default
    background-color: #6D6E70 !important
    font-weight: bold
    .navbar-btn
      margin: 0px
  .navbar
    .login-form-wrapper
      margin-top: 5px
      float: right
      input[type='text'],input[type='password']
        width: 160px
        float: left
        margin-right: 7px
      input[type='checkbox']
        width: auto !important
      .form-signin-heading
        display: none
      .links
        float: left
        div
          width: 165px
          display: inline-block
        .remembermewrapper
          float: none
          margin: 0px
          clear: none
    .dropdown-toggle
      cursor: pointer
    .navbar-nav
      li>a
        padding-top: 10px
        padding-bottom: 10px
      /* Override bootstrap's default min-width: 160 */
      min-width: 0px !important
      .list-group-item
        border: 0px
    .navbar-link-right
      float: right
    .dropdown-menu-right
      float: right
      margin-top: 20px
      font-size: 17px
      margin-right: 60px
    .navbar-toggle-left
      float: left
      margin-left: 15px

  .landing-login-form-block,.login-form-block
    padding-top: 0px
    display: block !important
    margin-top: 0px
    float: right
    input
      margin: 0
    input[type="text"],input[type="password"]
      width: 155px
      height: auto
    .form-title
      display: none !important
    .submit-button
      width: auto
      font-size: 13px
      padding: 3px 7px
    .signup-button
      display: none
    ul
      margin-top: -5px
      li
        width: 160px
        display: inline
        float: left
        margin-right: 3px
      .login
        width: auto !important
    .links
      li
        margin-top: 0px
        margin-bottom: 0px


  #user-menu-wrapper
    float: right
    font-size: 24px

  #user-menu
    list-style: none
    text-align: center
    ul
      padding: 0
      display: none
      list-style: none
      text-align: center
      font-size: 20px
      z-index: 100
    &:hover ul
      display: block
    ul li
      border-bottom: 1px solid $borderGray
      line-height: 32px