$primaryBlue: #25AAE0
$defaultGray: #6D6E70
$defaultButtonColor: #78A8A7
$primaryFont: "Helvetica Neue",Helvetica,Arial,sans-serif
$borderGray: #dadada
$linkColor: #25AAE0
$linkHoverColor: #f19a0e
$primaryRed: #f05724
$primaryFont: 'Knockout29'
$altFont: "Helvetica Neue",Helvetica,Arial,sans-serif
$maxPageWidth: 1080px
$mobileNavbarHeight: 50px
$navbarHeight: 60px



@font-face
  font-family: 'Museo Sans'
  src: url('fonts/museo-sans-300-webfont.eot')
  src: url('fonts/museo-sans-300-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/museo-sans-300-webfont.woff') format('woff'),url('fonts/museo-sans-300-webfont.ttf') format('truetype'),url('fonts/museo-sans-300-webfont.svg#museo-sans-300-webfont') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Museo Sans'
  src: url('fonts/museo-sans-300-italic-webfont.eot')
  src: url('fonts/museo-sans-300-italic-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/museo-sans-300-italic-webfont.woff') format('woff'),url('fonts/museo-sans-300-italic-webfont.ttf') format('truetype'),url('fonts/museo-sans-300-italic-webfont.svg#museo-sans-300-italic-webfont') format('svg')
  font-weight: bold
  font-style: italic

@font-face
  font-family: 'Museo Sans'
  src: url('fonts/museo-sans-700-webfont.eot')
  src: url('fonts/museo-sans-700-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/museo-sans-700-webfont.woff') format('woff'),url('fonts/museo-sans-700-webfont.ttf') format('truetype'),url('fonts/museo-sans-700-webfont.svg#museo-sans-700-webfont') format('svg')
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Museo Sans'
  src: url('fonts/museo-sans-700-italic-webfont.eot')
  src: url('fonts/museo-sans-700-italic-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/museo-sans-700-italic-webfont.woff') format('woff'),url('fonts/museo-sans-700-italic-webfont.ttf') format('truetype'),url('fonts/museo-sans-700-italic-webfont.svg#museo-sans-700-italic-webfont') format('svg')
  font-weight: bold
  font-style: italic