@import 'variables'
@import 'mixins'
@import 'footer'
@import 'notifications'
@import 'social'
@import 'navbar'


ul
  list-style: none
  padding: 0px
.border-bottom
  border-bottom: 1px solid $borderGray
  height: 2px

.panel-info
  input[type='text'],input[type='password'],input[type='password']
    width: 100%
    margin: 4px 0px
  input[type='submit']
    float: right
    min-width: 40%
.panel-footer-white
  background-color: white

/* Required for footer to be pushed to bottom*/

html
  position: relative
  min-height: 100%
body
  font-family: 'Museo Sans',Arial,Helvetica,sans-serif
  margin-bottom: 60px
/* End footer requirements */

.center-block
  float: none 

.link
  color: $linkColor !important
  &:hover
    color: $linkHoverColor !important
    -webkit-transition: color 0.33s
    transition: color 0.33s
    cursor: pointer
  a
    text-decoration: none
    color: $linkColor

body > .container 
  padding: 20px 15px 0
  overflow-x: hidden

  .fl
    float: left

  .mr20
    margin-right: 20px

.remembermewrapper
  float: right
  clear: both
  margin: 10px 10px

button
  color: white !important
  font-weight: bold !important
  text-shadow: 0 -1px 1px #6d9796 !important
  background: #89c1c0 !important
  background: -moz-linear-gradient(top,#89c1c0 0%,#6d9796 100%) !important
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#89c1c0),color-stop(100%,#6d9796)) !important
  background: -webkit-linear-gradient(top,#89c1c0 0%,#6d9796 100%) !important
  background: -o-linear-gradient(top,#89c1c0 0%,#6d9796 100%) !important
  background: -ms-linear-gradient(top,#89c1c0 0%,#6d9796 100%) !important
  background: linear-gradient(to bottom,#89c1c0 0%,#6d9796 100%) !important
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important
  border-color: #6c9494 !important
  text-transform: uppercase