@import 'variables'
@import 'mixins'
@import 'footer'
@import 'notifications'
@import 'social'
@import 'navbar'


ul
  list-style: none
  padding: 0px
.border-bottom
  border-bottom: 1px solid $borderGray
  height: 2px

.panel
  box-shadow: 0 0 1em rgba(0,0,0,.25)
.panel-heading
  color: white
  background-color: $headerGray
.panel-signup,.panel-signin,.panel-forgot
  background-color: $formGray
  input[type='text'],input[type='password'],input[type='password']
    width: 100%
    margin: 4px 0px
  input[type='submit']
    width: 100%
  .panel-footer
    background-color: $headerGray
    color: white
    text-align: center
  .connect-with-text
    font-size: 14px
    text-align: center
    padding: 0px 0px 10px 0px
    text-transform: uppercase
.panel-forgot
  input
    margin-top: 10px
/* The following is required for footer to be pushed to bottom*/

html
  position: relative
  min-height: 100%
body
  font-family: 'Museo Sans',Arial,Helvetica,sans-serif
  margin-bottom: 60px
/* End footer requirements */

.center-block
  float: none

.link
  color: $linkColor
  font-weight: bold
  &:hover
    color: $linkHoverColor !important
    -webkit-transition: color 0.33s
    transition: color 0.33s
    cursor: pointer
  a
    text-decoration: none
    color: $linkColor

body > .container 
  padding: 20px 15px 0
  overflow-x: hidden

  .fl
    float: left

  .mr20
    margin-right: 20px

.remembermewrapper
  margin: -2px 0px

button, .button
  color: white !important
  font-weight: bold !important
  text-shadow: 0 -1px 1px #6d9796 !important
  background: #89c1c0 !important
  background: -moz-linear-gradient(top,#89c1c0 0%,#6d9796 100%) !important
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#89c1c0),color-stop(100%,#6d9796)) !important
  background: -webkit-linear-gradient(top,#89c1c0 0%,#6d9796 100%) !important
  background: -o-linear-gradient(top,#89c1c0 0%,#6d9796 100%) !important
  background: -ms-linear-gradient(top,#89c1c0 0%,#6d9796 100%) !important
  background: linear-gradient(to bottom,#89c1c0 0%,#6d9796 100%) !important
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important
  border-color: #6c9494 !important
  text-transform: uppercase